.div_header_and_title::before {
    background-image: url(../images/vitesse.jpg);
    background-position-y: 36%;
}

.div_vitesse_main {
    margin-top: 50px;
    padding: 70px 20%;
    background-color: white;
}

.div_vitesse_main p {
    padding: 50px 4%;
    font-size: 1.35em;
}

#p1 {
    padding-bottom: 0;
    padding-top: 4%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.35em;
}

#p2 {
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.35em;
}

.div_vitesse_main ul {

    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.35em;
}


.div_vitesse_other{
    margin: 0;
    padding-top: 0;
}

.container_img_vitesse {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container_img_vitesse img {
    height: 750px;
}

/* Tableau Wikipedia */

#tableau_wiki {
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
    
}

