.div_header_and_title::before {
    background-image: url(../images/vitesse.jpg);
    background-position-y: 36%;
}

.div_vitesse_main {
    margin-top: 50px;
    padding: 70px 20%;
}

.div_vitesse_main p {
    padding: 50px 4%;
    font-size: 1.35em;
}

#p1 {
    padding-bottom: 0;
    padding-top: 4%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.35em;
}

#p2 {
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.35em;
}

.div_vitesse_main ul {

    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.35em;
}


.div_vitesse_other{
    margin: 0;
    padding-top: 50px;
}

.container_img_vitesse {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container_img_vitesse img {
    height: 750px;
}

/* Tableau Wikipedia */

#tableau_wiki {
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.table-container {
    margin: 20px auto;
    max-width: 800px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin: 0;
    font-size: 14px;
}

.table caption {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333;
}

.flag img {
    vertical-align: middle;
    margin-right: 8px;
    height: 14px;
}



@media screen and (max-width: 600px) {
    .table {
        font-size: 12px;
    }

    .table caption {
        font-size: 16px;
    }
}
