@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "montserrat-regular", sans-serif;
    color: #151515;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 0 6%;
    border-bottom: 1px solid rgba(127,127,127,1);
}

header img {
    height: 75px;
    border: black 2em;
}

header nav ul {
    display: flex;
    list-style: none;
    margin : 0;
    padding : 0;
   
}

header nav ul li a{
    padding: 5px;
    text-decoration: none;
    color: currentColor;
    font-size: 1.2em;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header nav ul li a:hover {
    color: orange
}

#a_page_actuelle {
    color: orange;
}

#a_page_actuelle:hover {
    color: white;
}

/* Section 1 */

.div_header_and_title {
    position: relative;
    color: azure;
    overflow: hidden; 
}

.div_header_and_title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/Escalade.webp);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position-y: -100px;
    z-index: -1;
    animation: kenburns-contained 7s linear both;
}
.div_principale {

    height: 600px;
}


#donner_envie {
    color: white;
    position: absolute;
    margin: 0;
    top: 260px;
    font-size: 3em;
    left: 10%;

    padding-bottom: 30px;
}

#donner_envie h1 {
    margin: 0;
}                                                           /* CETTE PARTIE EST IMMONDE, A REPRENDRE */

#donner_envie h2 {
    width:100em;
    margin: 0;
    font-size: 0.3em;
    position: absolute;
    left: 4px;
}

#donner_envie h2::after {
    border-bottom: 5px orange solid;
    width: 10%;
}


/* Section principale */

.div_but {
    margin-top: 70px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 18%;
    margin-bottom: 80px;


}

section h2 {
    font-size: 2em;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;

}


section h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: orange;
}

/* Les bienfaits*/

.div_bienfaits {
    margin-top: 50px;
    padding: 70px 20%;
    background-color: #ebebeb;
}

.div_bienfaits aside {
    width: 4.5em;
}

.bienfaits_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.div_unite {
    width: 25%;
}

.img_bienfaits {
    height: 100px;
    margin: auto;
    display: block;

}

.p_bienfaits {
    color: #8c8c8c;
    font-family: "Muli Light", sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 25px;
}

/* Témoignages */

.div_temoignages h2 {
    align-self: baseline;
}

.grimpeur_img {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.div_temoignages {
    margin-top: 50px;
    padding: 70px 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_temoignages {
    color: #6e6c6c;
    font-family: "Muli Light", sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 25px;
}

.div_temoignages_element {
    width: 40%;
}


/* Commencer l'escalade */

.div_debuter_escalade {
    padding: 70px 20%;
    background-color: #ebebeb;

}

.p_debuter {
    color: #8c8c8c;
    font-family: "Muli Light", sans-serif;
    font-size: 1.35em;
    max-width: 70%;
    padding-top: 25px;

}

/* Pratiquer */

.div_pratique {
    margin-top: 50px;
    padding: 70px 20%;
    margin-bottom: 120px;
    background-color: white;

}

.div_pratique aside {
    width: 4em;
}

.div_pratique iframe {
    margin: auto;
    margin-top: 50px;
    display: block;
}

/* Classes génériques */

.p_main {
    color: #8c8c8c;
    font-family: "Muli Light", sans-serif;
    font-size: 1.35em;
    max-width: 70%;
    padding-left: 5%;
}

.h2_whithout_color::after {
    background-color: transparent;
}

.orange_border {
    width: 60%;
    padding-bottom: 10px;
    border-bottom: 2px orange solid;
}

/* Transitions et animations */

.kenburns-bottom {
	-webkit-animation: kenburns-bottom 10s linear both;
	        animation: kenburns-bottom 10s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-9 20:50:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }

 
  @keyframes kenburns-contained {
    0% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: scale(1.15) translateY(0); 
    }
}

  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}


.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.5s;
}